@import grid
@import "compass/css3"

$accent: #ffad08

body
  font-family: 'Lora', georgia, serif
  line-height: 1.5
  width: 960px
  margin: 0px auto
  overflow: hidden

  a
    color: $accent
    text-decoration: none
  a:hover
    color: darken($accent, 10)

section#header
  table
    @include column(24)
  td.title
    white-space: nowrap
  td.line-spacer
    width: 50%
  h1
    display: inline-block
    font-size: 38px
    padding: 0.25em
    margin: 0em

  .subtitle
    @include column(14)
    font-size: 15px
    color: #444

  .subscribe
    @include column(10)

  a.rss, a.itunes
    background-repeat: no-repeat
    background-position: left center
    padding-left: 2em
    line-height: 3em
    padding-top: 0.5em
    padding-bottom: 0.5em

  a.rss
    background-image: url('/images/rss.png')

  a.itunes
    background-image: url('/images/itunes.png')
    margin-right: 1.5em

.latest-episode
  @include column(24)
  margin-top: 2em
  padding: 10px
  background-color: #ffad08
  @include background(linear-gradient(top, lighten(#ffad08, 10), #ffad08))
  color: white
  border-radius: 3px
  box-sizing: border-box

  .title
    display: block
    font-size: 24px
    margin-top: 0.5em
    margin-bottom: 0.5em

  .right
    @include column(8)
    overflow: hidden
    max-height: 240px
    border-radius: 3px
    margin-bottom: 10px
    margin-top: 10px

  .left
    @include column(15)
    p
      margin-top: 0px

  .released
    color: lighten(#ffad08, 30)

  a
    color: white


