/* line 41, _grid.css.scss */
body {
  width: 100%;
  *zoom: 1; }
  /* line 27, _grid.css.scss */
  body:before, body:after {
    content: "";
    display: table; }
  /* line 31, _grid.css.scss */
  body:after {
    clear: both; }

/* line 6, site.css.sass */
body {
  font-family: "Lora", georgia, serif;
  line-height: 1.5;
  width: 960px;
  margin: 0px auto;
  overflow: hidden;
  background-image: url("images/bg-pattern.png"); }
  /* line 14, site.css.sass */
  body a {
    color: #ffad08;
    text-decoration: none; }
  /* line 17, site.css.sass */
  body a:hover {
    color: #d48e00; }

/* line 21, site.css.sass */
section#header table {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px; }
/* line 23, site.css.sass */
section#header td.title {
  white-space: nowrap; }
/* line 25, site.css.sass */
section#header td.line-spacer {
  width: 50%; }
  /* line 27, site.css.sass */
  section#header td.line-spacer hr {
    border: 0px;
    background-color: #c8c8c8;
    height: 2px; }
/* line 31, site.css.sass */
section#header h1 {
  display: inline-block;
  font-size: 38px;
  padding: 0.25em;
  margin: 0.25em 0em; }
/* line 37, site.css.sass */
section#header .subtitle {
  display: inline;
  float: left;
  width: 540px;
  margin: 0 10px;
  font-size: 15px;
  color: #444444; }
/* line 42, site.css.sass */
section#header .subscribe {
  display: inline;
  float: left;
  width: 380px;
  margin: 0 10px; }
/* line 45, site.css.sass */
section#header a.rss, section#header a.itunes {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 2em;
  line-height: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em; }
/* line 53, site.css.sass */
section#header a.rss {
  background-image: url("images/rss.png"); }
/* line 56, site.css.sass */
section#header a.itunes {
  background-image: url("images/itunes.png");
  margin-right: 1.5em; }

/* line 60, site.css.sass */
.latest-episode {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  margin-top: 2em;
  background-color: #ffad08;
  overflow: hidden;
  color: white;
  border-radius: 3px;
  box-sizing: border-box;
  background-repeat: no-repeat; }
  /* line 70, site.css.sass */
  .latest-episode .title {
    display: block;
    font-size: 24px;
    margin-bottom: 0.5em; }
  /* line 75, site.css.sass */
  .latest-episode .content {
    padding: 20px;
    display: inline;
    float: left;
    width: 580px;
    margin: 0 10px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffbe3b), color-stop(100%, #ffad08));
    background: -webkit-linear-gradient(top, #ffbe3b, #ffad08);
    background: -moz-linear-gradient(top, #ffbe3b, #ffad08);
    background: -o-linear-gradient(top, #ffbe3b, #ffad08);
    background: -ms-linear-gradient(top, #ffbe3b, #ffad08);
    background: linear-gradient(top, #ffbe3b, #ffad08);
    margin-left: 320px; }
    /* line 80, site.css.sass */
    .latest-episode .content p {
      margin-top: 0px; }
  /* line 83, site.css.sass */
  .latest-episode .released {
    color: #ffe0a1; }
  /* line 86, site.css.sass */
  .latest-episode a {
    color: white; }

/* line 89, site.css.sass */
div.jp-audio {
  float: left;
  clear: left;
  width: 290px !important;
  margin-right: 20px; }
  /* line 95, site.css.sass */
  div.jp-audio .jp-progress, div.jp-audio .jp-time-holder {
    left: 80px !important; }
  /* line 98, site.css.sass */
  div.jp-audio .jp-controls {
    width: 250px !important; }

/* line 101, site.css.sass */
a.download {
@column(3);
  display: inline-block;
  border-bottom: 1px dotted white;
  margin-bottom: 1em;
  margin-top: 0.5em; }
  /* line 107, site.css.sass */
  a.download:hover {
    border-bottom: 1px dotted #976500;
    color: #976500; }
